/* homepage css */

h1 {
    color: dodgerblue;
}

img {
    border-radius: 50px;
}

hr {
    border-top: 1px solid dodgerblue;
  }

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
  
  li {
    float: left;
}
  
  li a {
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
}
  
   /* Change the link color to #111 (black) on hover  */
  li a:hover {
    background-color:dodgerblue;
    color: white;
} 

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container > div {
    margin: 10px;
}

/* end of homepage css */


/* start of resume css */
.flex-container-resume {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
}

.flex-container-resume > div {
  margin: 10px;
  width: 480px;
  color: dodgerblue;

}

/*end of resume css */

/*start of contact css */

.flex-container-contact {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.flex-container-contact > div {
  margin: 10px;
  color: dodgerblue;
}

/*end of contact css*/

/* start of about css */

.flex-container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container-about > div {
  margin: 10px;
  color: dodgerblue;
}